.about{
    width: 100%;
    margin-top: 15rem;
}
.about .title{
    font-size: 3rem;
    margin-left: 2rem;
}
.about .row{
    width: 100%;
    margin-bottom: 2rem;
}
.about .card-img{
    margin-top: 1rem;
    margin-left: 1rem;
}
.text{
    margin: 1rem;
}
.text .text-description{
    font-size: 2rem;
}
.back-top{
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}
.back-top:hover{
    font-size: 3rem;
    font-weight: 700;
}
.back-top a:hover{
    color: #e2727e;
}