/*放各個頁面相同的部分:頭 尾部*/
/*版心*/

.container-fluid{
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
}
.container-fluid img{
    margin: 0 1rem;
    
}
.container-fluid .navbar-brand{
    width: 20rem;
    font-size: 2.5rem;
}
.collapse .nav-item{
    margin:0 3.5rem;
}

/*footer*/
.footer{
    margin-top: 4rem;
}
.footer a{
    width: 100%;
    text-align: center;
}
.footer a span{
    line-height: 100%;
    color: black;
    font-size: 2em;
}
