.section{
    width: 100%;
    margin-top: 15rem;
}
.section .tltle{
    font-size: 3rem;
    margin-left: 2rem;
}
.section .row{
    width: 100%;
    background-color: #f8f8f8;
}
.section .row .img-title{
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    font-weight: 700;
}
.section .card-img{
    margin: 0rem 0.5rem;
}
.section .row .description{
    border: 5px solid #4645452b;
    margin: 1rem 1.5rem;
}
.section .row .description .title{
    font-weight: 700;
}
.section .row .description span{
    font-size: 2rem;
    margin-left: 2rem;
}

.back-top{
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}
.back-top:hover{
    font-size: 3rem;
    font-weight: 700;
}
.back-top a:hover{
    color: #e2727e;
}