/*放index頁面的樣式表*/
/*banner*/
.banner{
    margin-top: 10rem;
}

.section{
    max-width: 100%;
    margin: 2rem 1rem;
}
.section .product-introduce{
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.section .product-introduce span{
    margin-left: 2rem;
    color: #dc3545;
}
.section .product-introduce a{
    color: #dc3545;
    float: right;
}
.section .product-introduce a:hover{
    color: #e2727e;
}
.section .btn{
    width: 100%;
    margin: 1em 0;
    font-size: 2em;
    
}
.section .card-img{
    width: 100%;
    margin-bottom: 1rem;
}
.section .row .title{
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}


.about{
    max-width: 100%;
    margin: 2rem 1rem;
}
.about .about-introduce{
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.about .about-introduce span{
    margin-left: 2rem;
    color: red;
}
.about .about-introduce a{
    color: red;
    float: right;
}
.about .about-introduce a:hover{
    color: #e2727e;
}
.about .card-img{
    width: 100%;
    margin-bottom: 1rem;
}

.back-top{
    width: 4rem;
    height: 3rem;
    font-weight: 700;
    float: right;
    margin-top: -2rem;
    margin-right: 2rem;
}
.back-top a:hover{
    color: #e2727e;
}