#dataForm{
    margin-top: 15rem;
}
.section .tltle{
    font-size: 3rem;
    margin-left: 3rem;
}
.section .list-group{
    margin: 1rem;
    list-style: none;
}
.section .list-group li{
    width: 100%;
    font-size: 2rem;
    text-align: center;
}
.section .list-group li :hover{
    font-weight: 700;
    color: #5ba3a3f4;
}
.section .card-img{
    margin-top: 1rem;
    margin-left: 1rem;
}
.section #pure_hone{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin: 2rem;
}
.section .row{
    width: 100%;
}
.section .row .title{
    width: 100%;
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    margin-left: 1rem;
}
.section #gift-box{
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem;

}
.section #other{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin: 2rem;
}
/*下拉式選單*/
.dropdown-group{
    display: flex;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    flex-direction: column;
}
.dropdown-group div{
    width: 100%;
    margin: 0.5rem 1rem ;
}
.dropdown-group select{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-size: 2.5rem;
    border: 1px solid black;
}
.dropdown-group input{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-size: 2.5rem;

}
.dropdown-group .money{
    color: red;
}
.dropdown-group .money .title{
   font-size: 2rem;
}
.dropdown-group .money .result{
    font-size: 2.5rem;
    font-weight: 700;
}
#total{
    margin-top: 4rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
#total #grandTotal{
    color: red;
}
#total button{
    margin: 1rem;
}


.back-top{
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}
.back-top:hover{
    font-size: 3rem;
    font-weight: 700;
}
.back-top a:hover{
    color: #e2727e;
}



